extends index.pug

block vue
    script(src="https://unpkg.com/vue")
    script(src="/app/app.js")

block app
    #app {{message}}
        tasklist(v-bind:data='taskList')
        modal(v-if="showModal",@close="showModal = false",v-bind:data="taskList")
        button#show-modal(@click="showModal = true") Show Modal

block modal
    script#modal-template(type="text/x-template").
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">
                        <input type="text" v-model="obj.task">
                        <input type="text" v-model="obj.contact">
                        <button class="modal-default-button" @click="submit">OK</button>
                    </div>
                </div>
            </div>
        </transition>